{% extends 'elegislative/dashboard.html' %}
{% load static %}
{% load custom_tags%}
{% load humanize %}
{% block title %}
e-Legislative Audio Recording
{% endblock title%}

<!-- CSS -->
{% block additional_css %}
<!-- DataTables -->
<link rel="stylesheet" href="{% static 'bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">

<style>
    table td {
        text-align: center;
        vertical-align: middle !important;
    }

    .holder {
        background-color: #4c474c;
        background-image: -webkit-gradient(linear, left bottom, left top, from(#4c474c), to(#141414));
        background-image: -o-linear-gradient(bottom, #4c474c 0%, #141414 100%);
        background-image: linear-gradient(0deg, #4c474c 0%, #141414 100%);
        border-radius: 50px;
        width: 380px;
        vertical-align: middle;
        margin: auto;
    }

    [data-role="controls"]>button {
        margin: 50px auto;
        outline: none;
        display: block;
        border: none;
        background-color: #D9AFD9;
        background-image: -webkit-gradient(linear, left bottom, left top, from(#D9AFD9), to(#97D9E1));
        background-image: -o-linear-gradient(bottom, #D9AFD9 0%, #97D9E1 100%);
        background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
        width: 100px;
        height: 100px;
        border-radius: 50%;
        text-indent: -1000em;
        cursor: pointer;
        -webkit-box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.3) inset,
            0px 0px 0px 30px #fff, 0px 0px 0px 35px #333;
        box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.3) inset,
            0px 0px 0px 30px #fff, 0px 0px 0px 35px #333;
    }

    [data-role="controls"]>button:hover {
        background-color: #ee7bee;
        background-image: -webkit-gradient(linear, left bottom, left top, from(#ee7bee), to(#6fe1f5));
        background-image: -o-linear-gradient(bottom, #ee7bee 0%, #6fe1f5 100%);
        background-image: linear-gradient(0deg, #ee7bee 0%, #6fe1f5 100%);
    }

    [data-role="controls"]>button[data-recording="true"] {
        background-color: #ff2038;
        background-image: -webkit-gradient(linear, left bottom, left top, from(#ff2038), to(#b30003));
        background-image: -o-linear-gradient(bottom, #ff2038 0%, #b30003 100%);
        background-image: linear-gradient(0deg, #ff2038 0%, #b30003 100%);
    }

    [data-role="recordings"]>.row {
        width: auto;
        height: auto;
        padding: 20px;
    }

    [data-role="recordings"]>.row>audio {
        outline: none;
    }

    [data-role="recordings"]>.row>a {
        display: inline-block;
        text-align: center;
        font-size: 20px;
        line-height: 50px;
        vertical-align: middle;
        width: 50px;
        height: 50px;
        border-radius: 20px;
        color: #fff;
        font-weight: bold;
        text-decoration: underline;
        background-color: #0093E9;
        background-image: -webkit-gradient(linear, left bottom, left top, from(#0093E9), to(#80D0C7));
        background-image: -o-linear-gradient(bottom, #0093E9 0%, #80D0C7 100%);
        background-image: linear-gradient(0deg, #0093E9 0%, #80D0C7 100%);
        float: right;
        margin-left: 20px;
        cursor: pointer;
    }

    [data-role="recordings"]>.row>a:hover {
        text-decoration: none;
    }

    [data-role="recordings"]>.row>a:active {
        background-image: -webkit-gradient(linear, left top, left bottom, from(#0093E9), to(#80D0C7));
        background-image: -o-linear-gradient(top, #0093E9 0%, #80D0C7 100%);
        background-image: linear-gradient(180deg, #0093E9 0%, #80D0C7 100%);
    }
</style>

{% endblock additional_css %}

<!-- navigation -->
{% block nav_dashboard %}
<li class="treeview">
    <a href="{% url 'elegislative:dashboard_page' %}">
        <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li class="active"><a href="{% url 'elegislative:dashboard_page' %}"><i class="fa fa-circle-o"></i>
                Dashboard</a></li>
    </ul>
</li>
{% endblock nav_dashboard %}

{% block nav_audio_recording %}
<li class="active">
    <a href="{% url 'elegislative:audio_recording' %}" data-toggle="tooltip" title="Trash">
        <i class="fa fa-fw fa-file-audio-o text-green"></i> <span>Audio Recording</span>
        <span class="pull-right-container">
            <small class="label pull-right bg-green"></small>
        </span>
    </a>
</li>
{% endblock nav_audio_recording %}


{% block main_content %}
<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Audio Recording
            <small>Manage audio recording</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'elegislative:dashboard_page' %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li><a href="{% url 'elegislative:audio_recording' %}">Audio recording</a></li>
            <li class="active">Create audio recording</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-6">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Audio Recording</h3> 
                    </div>
                    <div class="box-body"> 
                        <div class="callout callout-danger" id="message-audio-empty" style="display: none;">
                            <h4>Error!</h4> 
                            <p>Please record and audio first before proceeding to save.</p>
                          </div>
                        <div class="holder">
                            <div data-role="controls">
                                <button>Record</button>
                            </div>
                            <div data-role="recordings"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <form method="POST" id="audio-creation-form"> 
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Audio Details</h3> 
                        </div>
                        <div class="box-body"> 
                                {% csrf_token %}
                                {% if form.errors %}
                                    <div class="callout callout-danger"> 
                                        <h4>Oops! Form Error!</h4>
                                        <p><strong>Please fix the error and try to save again!</strong></p>
                                        <p></p>
                                        {{form.errors}} 
                                    </div> 
                                {% endif %} 
                                <input type="hidden" name="audio_base64" id="audio_base64">
                                <div class="form-group"> 
                                    {{form.name}}
                                </div> 
                                <div class="form-group"> 
                                    {{form.description}}
                                </div> 
                                <div class="form-group"> 
                                    {{form.remarks}}
                                </div>  
                        
                        </div>
                        <div class="box-footer">
                            <div class="pull-right"> 
                                <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Save</button>
                            </div>
                        </div>
                    </div> 
                </form>
            </div>
        </div>
    </section>
</div>
{% endblock main_content %}

<!-- Javascript -->

{% block additional_js %}
<script src="{% static 'js/recorder.js' %}"></script>
<script>
    function getCookie(cname) {
        var name = cname + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }
    $(document).ready(function () {
        let myRecorder = {
            objects: {
                context: null,
                stream: null,
                recorder: null
            },
            init: function () {
                if (null === myRecorder.objects.context) {
                    myRecorder.objects.context = new (
                        window.AudioContext || window.webkitAudioContext
                    );
                }
            },
            start: function () {
                let options = {
                    audio: true,
                    video: false
                };
                navigator.mediaDevices.getUserMedia(options).then(function (stream) {
                    myRecorder.objects.stream = stream;
                    myRecorder.objects.recorder = new Recorder(
                        myRecorder.objects.context.createMediaStreamSource(stream),
                        {
                            numChannels: 1
                        }
                    );
                    myRecorder.objects.recorder.record();
                }).catch(function (err) {
                    console.log(err);
                });
            },
            stop: function (listObject) {
                if (null !== myRecorder.objects.stream) {
                    myRecorder.objects.stream.getAudioTracks()[0].stop();
                }
                if (null !== myRecorder.objects.recorder) {
                    myRecorder.objects.recorder.stop();
                    // Validate Object
                    if (null !== listObject && 'object' === typeof listObject && listObject.length > 0) {
                        // Export the WAV file
                        myRecorder.objects.recorder.exportWAV(function (blob) {
                            let url = (window.URL || window.webkitURL).createObjectURL(blob);
                            console.log(blob);

                            // The readAsDataURL method is used to read the contents of the specified Blob or File . 
                            // When the read operation is finished, the readyState becomes DONE , and the loadend is 
                            // triggered. At that time, the result attribute contains the data as a data: URL
                            //  representing the file's data as a base64 encoded string.
                            let reader = new FileReader();
                            reader.readAsDataURL(blob);
                            reader.onloadend = function () {
                                let base64Data = reader.result; 
                                $("#audio_base64").val(base64Data);

                                // var dest_url = "{% url 'elegislative:audio_recording' %}";
                                // let formData = new FormData();
                                // let request = new XMLHttpRequest();

                                // formData.set('data', base64Data);
                                // request.open("POST", dest_url);
                                // request.setRequestHeader("X-CSRFToken", getCookie("csrftoken"));
                                // request.setRequestHeader("Content-Type", "multipart/form-data"); 
                                // request.send(formData);
                            }

                            // Prepare the play back

                            let audioObject = $("<audio controls></audio>").attr("src", url);

                            // Prepare download link
                            let downloadObject = $("<a>&#9660;</a>").attr("href", url).attr("download", `${new Date().toUTCString()}.wav`);

                            // Wrap everything in a row
                            let holderObject = $('<div class="row"></div>').append(audioObject).append(downloadObject);

                            // Append to the list
                            listObject.append(holderObject);

                        });

                    }
                }
            }
        };

        // Prepare the recoding list
        let listObject = $('[data-role="recordings"]');

        // Prepare the record button  
        $('[data-role="controls"] > button').click(function () {
            // Initialize the recorder
            myRecorder.init();
            // function() {
            //     var name = 'Brian';

            //     //alert 'string'
            //     window.alert(typeof name);

            //     //cast to boolean
            //     var bool = !!name;

            //     //alert 'boolean'
            //     window.alert(typeof bool);
            // }
            // Get the button state
            // Casting
            let buttonState = !!$(this).attr("data-recording");
            // Toggle
            if (!buttonState) {
                $(this).attr('data-recording', 'true');
                myRecorder.start();
            } else {
                $(this).attr("data-recording", "");
                myRecorder.stop(listObject);
            }
        });

        $("#audio-creation-form").on("submit", function(e){ 
            if (!$("#audio_base64").val()){
                $("#message-audio-empty").show();
                return false;
            }else{
                $("#message-audio-empty").hide();
            }
        });


    });
</script>
<!-- DataTables -->
<script src="{% static 'bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>

{% endblock additional_js %}