{% extends 'elegislative/dashboard.html' %}
{% load static %} 
{% load custom_tags%}
{% load humanize %} 
{% block title %}
e-Legislative Create Attendance
{% endblock title%}

<!-- CSS -->
{% block additional_css %} 
<!-- DataTables -->

 <!-- iCheck for checkboxes and radio inputs -->
 <link rel="stylesheet" href="{% static 'plugins/iCheck/all.css' %}">

 <style>
    table td{
        text-align: center; 
        vertical-align: middle !important;
    }

    .clock {  
        color: #367FA9;
        font-size: 20px; 
        letter-spacing: 4px; 
        background: #ECF0F5;
        text-align: center; 
        border-radius: 5px;
        padding: 0px 10px 0px 10px;
        border: solid 1px #D2D6DE;
    }
</style>

{% endblock additional_css %}


{% block nav_dashboard %}
<li class="treeview">
    <a href="{% url 'elegislative:dashboard_page' %}" >
    <i class="fa fa-dashboard" ></i> <span>Dashboard</span>
    <span class="pull-right-container">
        <i class="fa fa-angle-left pull-right"></i>
    </span>
    </a>
    <ul class="treeview-menu">
    <li class="active"><a href="{% url 'elegislative:dashboard_page' %}"><i class="fa fa-circle-o"></i> Dashboard</a></li> 
    </ul>
</li>
{% endblock nav_dashboard %}


{% if request.user.is_superuser %}
    {% block nav_attendance_monitoring %}
        <li class="active">
          <a href="{% url 'elegislative:attendance' %}" data-toggle="tooltip" title="Attendance Monitoring">
            <i class="fa fa-calendar-check-o"></i> <span>Attendance</span>
            <span class="pull-right-container">
              <small class="label pull-right bg-green"></small>
            </span>
          </a>
        </li>
    {% endblock nav_attendance_monitoring %}
{% endif %}



{% block main_content %} 

<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Attendance
            <small>Manage user attendance</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'elegislative:dashboard_page' %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li ><a href="{% url 'elegislative:attendance' %}"> Attendance</a></li>
            <li class="active">Create Attendance</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <form method="POST">
                    {% csrf_token %}
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">Create Attendance</h3> 
                            <div class="box-tools"> 
                                <ul class="pagination pagination-sm no-margin pull-right">
                                    <div id="MyClockDisplay" class="clock" onload="showTime()"></div>
                                </ul>
                            </div> 
                        </div>
                        <div class="box-body">
                           
                            <table class="table table-striped text-center">
                                <tbody>
                                    <tr>
                                        <th style="width:20%">Picture</th>
                                        <th style="width:30%">Name</th>
                                        <th style="width:30%">Email</th>
                                        <th style="width:10%">Is Present?</th> 
                                    </tr> 

                                    {% for u in users %}
                                    <tr>
                                        <td>
                                            {% if user.image %}
                                            <img src="{{ u.image.url }}" class="img-circle" alt="User Image" height="50" width="50">
                                            {% else %}
                                            <img src="{% static 'images/150x150.png' %}" class="img-circle" alt="User Image" height="50" width="50">  
                                            {% endif %} 
                                        </td>
                                        <td>
                                            {{ u.l_name }}, {{ u.m_name }} {{ u.f_name}}
                                        </td>

                                        <td>
                                            {{ u.email }}
                                        </td>
                                        <td> 
                                            <input type="checkbox" class="minimal" value="{{ u.email }}" name="present">
                                        </td> 
                                    </tr>
                                    {% endfor %} 
                        
                                </tbody>
                            </table>
                        </div>
                        <div class="box-footer">
                            <div class="pull-right"> 
                                <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Save</button>
                            </div>
                        </div> 
                    </div>
                </form>  
            </div>
        </div>
    </section>
</div>
{% endblock main_content %} 


{% block additional_js %}
<!-- iCheck 1.0.1 -->
<script src="{% static 'plugins/iCheck/icheck.min.js' %}"></script>
<script>
     $(function () {
        //iCheck for checkbox and radio inputs
        $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
        checkboxClass: 'icheckbox_minimal-blue',
        radioClass   : 'iradio_minimal-blue'
        })  


        function showTime(){
            var date = new Date();
            var h = date.getHours(); // 0 - 23
            var m = date.getMinutes(); // 0 - 59
            var s = date.getSeconds(); // 0 - 59

            var current_data = (date.getMonth()+1) + "/" + date.getDate() + '/' +  date.getFullYear();
            var session = "AM";
            
            if(h == 0){
                h = 12;
            }
            
            if(h > 12){
                h = h - 12;
                session = "PM";
            }
            
            h = (h < 10) ? "0" + h : h;
            m = (m < 10) ? "0" + m : m;
            s = (s < 10) ? "0" + s : s;
            
            var time = current_data + "," + h + ":" + m + ":" + s + " " + session;
            document.getElementById("MyClockDisplay").innerText = time;
            document.getElementById("MyClockDisplay").textContent = time;
            
            setTimeout(showTime, 1000);
            
        }

        showTime();
     });
</script>
{% endblock additional_js %}